* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color:hsl(304, 85%, 66%);
    --text-color:#191818;
    --one-color: rgb(147, 2, 155);
    --two-color:hsl(200, 90%, 50%);
    --three-color:gold;
    --four-color:rgb(211, 238, 235);
}

body {
    background-color:var(--four-color);
}
.container {
    width: 1280px;
    margin: 0 auto;
}
header {
    padding: 20px 40px;
    background-color: var(--bg-color);
} 
header h1 {
    background-color: var(--three-color);
    color:var(--text-color);
    margin: 0; 
    font-size: 20px;
    display: inline; 
    border: 3px solid rgb(184, 54, 177);
    border-radius: 45px;
    padding: 0 20px;  
}

 
nav {
    float: right;
}
nav ul li {
    display: inline;
    border: 3px solid rgb(184, 54, 177);
    border-radius: 45px;
    background-color: var(--three-color);
    margin: 0 20px;

}
nav ul li a {
    margin: 5px 30px;
    background-color: var(--three-color);
}

.grid  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.grid h2 {
    color: var(--bg-color);
}

article {
    padding: 20px;
    font-size: 30px;
}
img {
    width: 200px;
    border: 2px solid greenyellow;
    border-radius: 50%;
}

div.content {
    font-size: 20px;
}
div.content h2 {
    margin-bottom: 20px;
}

div.contact {
    margin-top: 50px;
    font-size: 20px;

}

div.contact h2 {
    margin-bottom: 20px;
}

footer {
    background-color: var(--one-color);
    padding: 20px;
}
footer h2 {
    text-align: center;
    color: var(--two-color);
}

span {
    color:var(--three-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER  */
@media screen and (max-width: 980px){
    
}

/*  MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    
}

/*  MEDIA QUERY FOR MOBILE PHONES AND SMALLER  */
@media  screen and (max-width: 575px) {
    
}
