* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color:hsl(304, 85%, 66%);
    --text-color:#191818;
    --one-color:rgb(10, 230, 223);
    --two-color:hsl(163, 13%, 90%);
    --three-color:gold;
    --four-color:rgb(211, 238, 235);
}

body {
    background-color:var(--four-color);
    color:var(--text-color);
}
.container {
    width: 1280px;
    margin: 0 auto;
}
header {
    padding: 15px 40px;
    background-color: var(--bg-color);
} 
header h1 {
    background-color: var(--three-color);
    color:var(--text-color);
    margin: 0; 
    font-size: 20px;
    display: inline; 
    border: 3px solid rgb(184, 54, 177);
    border-radius: 45px;
    padding: 0 20px;
    
}

 
nav {
    float: right;
}
nav ul li {
    display: inline;
    border: 3px solid rgb(184, 54, 177);
    border-radius: 45px;
    background-color: var(--three-color);
    margin: 0 20px;

}
nav ul li a {
    margin: 5px 30px;
    background-color: var(--three-color);
}
/* hero start */
 .hero {
    /* background-image: url(../image/color.png);
    background-size: cover;
    background-position: bottom; */
    height: 250px; 
    position: relative;
    /*margin-right: 40%;*/   
} 
.grid  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.hero h2 {
    color: var(--bg-color);
    /* margin-left: 50px;
    padding: 100px 100px; */
}

/* hero end */
article {
    padding: 20px;
   /* position: absolute;
    width: 500px;
    bottom: 120px;
    right: 140px;*/
    font-size: 30px;
}
img {
    width: 200px;
    border: 2px solid greenyellow;
    border-radius: 50%;
}
/* section p::first-letter {
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 2px gold;
    color: rgb(17, 221, 221);
    float: left;

} */
div.content {
    /* margin-left: 50px;
    padding: 20px; */
    font-size: 20px;
}
div.content h2 {
    margin-bottom: 20px;
}
div.content span {
    color: blue;
}

div.contact h2 {
    margin-bottom: 20px;
}
div.contact {
    margin-top: 50px;
    font-size: 20px;

}

footer {
    background-color: rgb(147, 2, 155);
    padding: 20px;
}
footer h2 {
    text-align: center;
    color: rgb(211, 211, 238);
}

span {
    color: rgb(230, 241, 12);
}
